/*  Here is font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* .work-sans-<uniquifier> {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", serif;
    background-color:yellow;
}
/* start header styling  */
.header{
    background-color: #ff8f0e28;
    
}
.header_container{
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 50px;
    /* border: 2px solid yellow; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .nav_title{
 font-size:2.8rem;
}
        /* navbar links */
.navbar_links{
  display: flex;
  align-items: center;
}
.navbar_links li {
    list-style: none;
    margin-right: 40px;
}
.navbar_links li a {
    text-decoration: none;
    color: black;
}


/* banner style  */

.banner_contant_box{
    display: flex;
    max-width:860px;
    margin: 50px auto;
    text-align: center;
    padding: 20px 20px ;
}
.banner_title{
    font-size:4rem ;
    font-weight:700;
    margin: 20px 0;
}
.banner_btn_box button{
    margin: 20px 0;
}
.banner_btn_box button:hover{
     color: black;
     border: 2px solid #FF900E;
     background-color: white;
}
.banner_image_box img{
    width:100%;
    
}
/* .banner_image_box{
    background:linear-gradient(0deg,rgba(62, 58, 58, 0),rgba(84, 35, 35, 0.935)) 
    ,url("../images/banner.png")
    
    ;
    background-repeat: no-repeat;
    width:100%;
    height: 700px;
} */

/* shared styles */
.text_color_gray{
    color: #727272;
    font-size: 16px;
    line-height: 25px;
}
.btn_primay{
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 20px;
    border: 2px solid #FF900E;
    
}

/* main area */
#main_area{
    max-width: 1440px;
    margin: 50px auto;
}

  /* section-part-one / our_features-container*/

.our_features_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.teams{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:25px;
}
.our_features_contant{
    max-width: 500px;
}
.our_features_title{
    font-size: 2.8rem;
    font-weight: 700;
    margin: 20px 0px;
}
#quick_list{
    color: #727272;
    font-weight: 500;
}
#Feature_style{
    color: #FF900E;
}
.our_features_btn_box{
    margin: 20px 0;
}

/* section-part-two */
#features_container{
    display: flex;
    margin: 70px 0px;
    justify-content: space-between;

}
.features_content{
    max-width: 586px;
}
.features_content_title{
    font-size: 2.8rem;
    font-weight: 700;
    margin: 20px 0px;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}
.card_container{
    margin: 50px 0px ;
}
.card_box{
    background-color: white;
    padding: 30px 40px ;
    margin-bottom: 30px;
    box-shadow: 2px 2px 6px black;
    border-radius: 8px;

}
.card_box_title{
    font-size: 1.2rem;
    margin-bottom: 10px ;
}

.female_area{
}
.female_area img{
    width: 100%;
}
.female_btn_box button{
    margin-top:-60px;
    margin-left: -100px;
    padding: 30px 30px;
}
#year{
 font-size: 3.7rem;
 font-weight: 700;
}

/* section_part-three */

.some_facts_container{
    padding: 0 10px;

}
.some_fact_contant{
   max-width: 542px;
}
.some_fact_content_title{
    font-size: 2.8rem;
    margin: 15px 0;
}

.some_fact_card_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 50px 0;
    gap: 120px;
    
    
    
}
.some_fact_card_box{
    border: 2px solid #FF900E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 50px ;
    border-radius: 8px;
    
}
.card_number{
    font-size: 2.8rem;
    font-weight: 600px;
    margin: 7px 0;
}
.some_fact_pera{
    font-size:1.2rem;
}

/* section-part-four / our sponsor */

.our_sponsor_container{
    margin: 100px 0;
    /* border: 1px solid; */
}
.sponsor_content{
    margin: 50px auto;
    max-width: 500px;
    text-align: center;

}
.sponsor_content_title{
    font-size: 2.8rem;
    font-weight: 700;
    margin: 20px 0;
}
.sponsor_image_container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 6.2rem;

}
.sponsor_image_container img{
    filter: grayscale(100%);
}

/* footer  */

.footer_container{
    max-width: 1440px;
    margin: 50px auto;
    background-color: #FFF4E7;
    border-radius: 8px;
}
.footer_container p{
    text-align: center;
    padding: 40px ;
    font-size: 20px;
}


/* media query for small device */
@media screen and (max-width:576px) {
    .navbar
    ,.navbar_links
     ,.our_features_container
     ,#features_container{
       flex-direction: column;
    }
    .navbar_links li a {
        text-decoration: none;
        color: black;
        font-size: 30px;
        margin;
    }
    .navbar_links{
        margin: 20px 0;
    }
    .banner_contant_box{
        padding: 20px 20px ;
    }
    
    .banner_title{
        font-size:3rem ;
        font-weight:700;
        margin: 20px 0;
    }

    /* section-part-one */

    .teams{
        grid-template-columns: repeat(1,1fr);
    }
    .our_features_contant{
        padding:0 20px;
    }
    /* section-part-two */
    .features_content{
        padding: 0% 10px;
    }
    .female_area{
        padding: 0 10px;
    }

    .female_btn_box button{
        margin-top:0;
        margin-left:0;
        padding:20px 30px;
    }
    #year{
        font-size: 1.7rem;
        font-weight: 600;
       }
       /* section-part-three */
       .some_fact_card_container{
    
        grid-template-columns: 1fr;
    }
    /* section-part-four*/
    .sponsor_image_container{
        grid-template-columns:1fr;
        padding:0 20px;
        justify-items: center;
    
    }
}
 /* media query medium device */

 @media screen and (min-width:576px) and (max-width:992px) {
         /* banner-title */
         .banner_title{
            font-size:3.5rem ;
        }
       /* section-part-one */
       .our_features_container ,#features_container{
        flex-direction: column;
       }
       /* section_par_two */
       #features_container{
        align-items: center;
       }
       .female_btn_box button{
        margin-top:5px;
        margin-left: 0px;
        padding: 30px 30px;
    }
    /* section_part-three */
    .some_fact_card_container{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        justify-items: center;
        padding:  0 20px;
        
    }
    .some_fact_contant{
        display: flex;
        margin: 0 auto;
        text-align: center;
     }
     /* section-part-four */
     .sponsor_image_container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
   
    
 }